.git-old/COMMIT_EDITMSG
.git-old/config
.git-old/description
.git-old/FETCH_HEAD
.git-old/HEAD
.git-old/index
.git-old/ORIG_HEAD
.git-old/packed-refs
.git-old/hooks/applypatch-msg.sample
.git-old/hooks/commit-msg.sample
.git-old/hooks/fsmonitor-watchman.sample
.git-old/hooks/post-update.sample
.git-old/hooks/pre-applypatch.sample
.git-old/hooks/pre-commit.sample
.git-old/hooks/pre-merge-commit.sample
.git-old/hooks/pre-push.sample
.git-old/hooks/pre-rebase.sample
.git-old/hooks/pre-receive.sample
.git-old/hooks/prepare-commit-msg.sample
.git-old/hooks/update.sample
.git-old/info/exclude
.git-old/logs/HEAD
.git-old/logs/refs/heads/master
.git-old/logs/refs/remotes/origin/HEAD
.git-old/logs/refs/remotes/origin/master
.git-old/objects/03/2a4773cf5b2ea4b67f729d330fd107f438981e
.git-old/objects/04/58c4c77fcb11f6fc91996ed2601f0792f10f23
.git-old/objects/12/2c22b8a4e77ea0211af68c613a611eacf26b03
.git-old/objects/12/ec07988090860499fb52617b09e0faef3f3b91
.git-old/objects/14/ab62a6ff5b53b8f6d087a951f7f400d2b4e36c
.git-old/objects/18/29503c9861a86530b6d8793c133561568d3113
.git-old/objects/20/9edfec358b298b69941094a2de0fbf437d4e0c
.git-old/objects/20/abfe552ec885c6159190e0a5f8c017760cc737
.git-old/objects/21/b59615df6c3ecd4cadb100a64faa62eee9dc1a
.git-old/objects/27/76a4311c29538324d6585b5b07c59e3110971d
.git-old/objects/2e/d8e25861566bb312a767b7adc4acf755fd2617
.git-old/objects/31/6b4d1877c5a2582c4ac0abd47d94267b30675f
.git-old/objects/33/e6af0b5e74ec2fe80d80253b0240360080ff58
.git-old/objects/36/97bada95d7f429bafdff8a8f2f1e11ba007e11
.git-old/objects/38/b4c32ffb1856b35734e76f0e15c005541b74e3
.git-old/objects/3d/2f911d005aa1854bddad3109be10d08e0a9885
.git-old/objects/3f/b333eaa21d79490c4d00a75d58cb150f93130f
.git-old/objects/40/7a6907b21085ea221bafadeabd8818ae769ba1
.git-old/objects/47/c5d22092e633857300f2db0646f4c69f0a1a20
.git-old/objects/4e/8b35cbaef3aa26fc79269d70d6d5ae7d552cf0
.git-old/objects/55/a093d0bcec84f19864cd102a855a78d5cb356e
.git-old/objects/56/2bbed104af2e3b50c830566e4be40de5d20ca3
.git-old/objects/57/2e83e42661d77a4a19b4e001cf3a6b342ac8c4
.git-old/objects/59/9bbc661c64cf924cba9ad0be2c586b982dac1f
.git-old/objects/5b/477b7e846eab8d16d97d9639b600e60efd04e1
.git-old/objects/66/4a5fdbe26430f06dcdec3c83242a33e9b4e527
.git-old/objects/6b/7c71479e93ad4a7e489808728de5dc37be0803
.git-old/objects/70/989d40c45e4ae54c574c58159f2e7fc5d937ed
.git-old/objects/74/ed78596c8460ea61b97814a7088d9cc1215070
.git-old/objects/76/7cbf8d3fc9e496cc57e88fecbcca3757134325
.git-old/objects/7e/faf71983ac7f33352cba44372875a46a584d8e
.git-old/objects/7f/ec51502cbc3200b3d0ffc6bbba1fe85e197f3d
.git-old/objects/83/e719089bc2cff21d5b806c7167dbe9104874fd
.git-old/objects/83/f2860049c60b9bf4ce394b7417241f93b4c710
.git-old/objects/84/9eab4a9e018db142fa52bf0473b1bdc9c5935e
.git-old/objects/85/ced39453668f2d0d5d048de6ad61a3a4d75058
.git-old/objects/87/620ac7e74efee566c6ee9d2ed7281ebafb4788
.git-old/objects/87/de3bd0bd8f3e4c321ffe92f3b964d584de01e5
.git-old/objects/87/e6f32b4557e40eca9c9514036096c4fe82a898
.git-old/objects/8b/9b8d179664da5aa1c0137a8fa81bb71607a451
.git-old/objects/8b/864025371bb8c00eba930d6b63390105e2b70c
.git-old/objects/8c/3148cc9625604dd43dfbe4507b01bcfbb7a4c2
.git-old/objects/8d/50aa7c11c02495a86603f35e7937780385660e
.git-old/objects/8e/1a2bdbc4be8f2ef1355d5f77260f4cae980a8f
.git-old/objects/92/6fb89f5af9db3972c9960b410a479a7e1b6dec
.git-old/objects/93/9ed41ee6caac2c72cafcc42dbb4cf3cb2faa78
.git-old/objects/93/df8a6d806e57022aeac1ff5878831b84180e08
.git-old/objects/95/d8e59e771fef436cac39a5ae6639140adc3980
.git-old/objects/98/4c5edb06f47299643688d4d63ba19ddb38f27a
.git-old/objects/99/68c55b0018edc6070576aa1e1555c1e6c612a6
.git-old/objects/a1/588e7384ef2e44f1951040c38d1fbaf9b3bac1
.git-old/objects/a2/fb9e1c4170e5286573bac0f75fa884d4a885f1
.git-old/objects/a4/aec26c730cdb6c99a6278b1d51892184eb774c
.git-old/objects/ab/35017ead34bd4933e836e6a90a8e2e536cc61c
.git-old/objects/b1/70bf091290d478141b65dfa53e672849aecda5
.git-old/objects/b8/04536eeb1f803c26e66d3d9c9498c688daa1d3
.git-old/objects/ba/9c62b35b0d760b0d7813674ed69dc2e2d9ead8
.git-old/objects/bd/d4b55aa6b45ba882ea541de7454732cd895a89
.git-old/objects/c0/494eea0a20dbe3f0226857c1fe29f52011d83d
.git-old/objects/c2/a77598412bdb5acf9bb985487a20dce667c6df
.git-old/objects/c3/f3e38589518d4ebd3c9c33b06b1863acc024b2
.git-old/objects/ce/e19063645dda705ec429172c18984211b1fce2
.git-old/objects/d4/1a182c882cbe95b698667afa2b72201b1a6fa5
.git-old/objects/d4/495b4ec581c4aaedfd50c584d4d040879628e4
.git-old/objects/d8/bdbc42727f110277eac39bedf310cd747eb5f1
.git-old/objects/db/8594969d8399f9bed17e1fa6057980045f3d79
.git-old/objects/dd/8fc20883288025c90b667f9341ab2fce829d4f
.git-old/objects/df/4bb5bea7bc2a00d1b7f923d184a5b332533c25
.git-old/objects/df/43516aaccc31f97cf001ee413d0b7290e0e42c
.git-old/objects/e0/7f0b7714c1920b07ad792543aa12ec1b42ff89
.git-old/objects/e2/8c1d841476494f517dfd8171404045e8771045
.git-old/objects/e5/08b364689029480034f0eb76d06f08801da91f
.git-old/objects/f9/42a8a26735ff315682a9fc8653fb28fe93d543
.git-old/objects/fb/348d9b114cff268764382dc3f0a1bbeeb8b7ae
.git-old/refs/heads/master
.git-old/refs/remotes/origin/HEAD
.git-old/refs/remotes/origin/master
.img_datasets/
img_datasets/cifar-10-python.tar.gz
img_datasets/cifar-10-batches-py/batches.meta
img_datasets/cifar-10-batches-py/data_batch_1
img_datasets/cifar-10-batches-py/data_batch_2
img_datasets/cifar-10-batches-py/data_batch_3
img_datasets/cifar-10-batches-py/data_batch_4
img_datasets/cifar-10-batches-py/data_batch_5
img_datasets/cifar-10-batches-py/readme.html
img_datasets/cifar-10-batches-py/test_batch
img_output/tensorboard/default/version_0/events.out.tfevents.1620775180.GOOB-3000.614.0
img_output/tensorboard/default/version_0/hparams.yaml
img_output/tensorboard/default/version_1/events.out.tfevents.1620775234.GOOB-3000.673.0
img_output/tensorboard/default/version_1/hparams.yaml
img_output/tensorboard/default/version_2/events.out.tfevents.1620775297.GOOB-3000.2040.0
img_output/tensorboard/default/version_2/hparams.yaml
img_output/tensorboard/default/version_3/events.out.tfevents.1620775313.GOOB-3000.2330.0
img_output/tensorboard/default/version_3/hparams.yaml
img_output/tensorboard/default/version_3/checkpoints/epoch=44-step=17594.ckpt
img_output/tensorboard/default/version_4/events.out.tfevents.1620830772.GOOB-3000.423.0
img_output/tensorboard/default/version_4/hparams.yaml
img_output/tensorboard/default/version_4/checkpoints/epoch=2-step=1172.ckpt
img_output/tensorboard/default/version_5/events.out.tfevents.1620831330.GOOB-3000.19848.0
img_output/tensorboard/default/version_5/hparams.yaml
img_output/tensorboard/default/version_5/checkpoints/epoch=0-step=390.ckpt
img_output/tensorboard/default/version_6/events.out.tfevents.1620832681.GOOB-3000.29595.0
img_output/tensorboard/default/version_6/hparams.yaml
img_output/tensorboard/default/version_6/checkpoints/epoch=4-step=1954.ckpt
img_output/tensorboard/default/version_7/events.out.tfevents.1620836466.GOOB-3000.25990.0
img_output/tensorboard/default/version_7/hparams.yaml
img_output/tensorboard/default/version_7/checkpoints/epoch=4-step=1954.ckpt
img_output/tensorboard/default/version_8/events.out.tfevents.1620838272.GOOB-3000.21234.0
img_output/tensorboard/default/version_8/hparams.yaml
img_output/tensorboard/default/version_8/checkpoints/epoch=0-step=390.ckpt
img_output/e0_G.png
img_output/e0_Ground-truth images.png
img_output/e0_R.png
img_output/e0_Reconstructed images.png
img_output/tst_e2.png
img_output/tst_Ground-truth images.png
img_output/tst_Reconstructed images.png
img_output/e0/events.out.tfevents.1620852032.GOOB-3000.9054.1
img_output/e0/events.out.tfevents.1620852032.GOOB-3000.9054.2
img_output/e0/events.out.tfevents.1620852136.GOOB-3000.9761.1
img_output/e0/events.out.tfevents.1620852136.GOOB-3000.9761.2
img_output/e0/events.out.tfevents.1620852650.GOOB-3000.10463.1
img_output/e0/events.out.tfevents.1620852650.GOOB-3000.10463.2
img_output/tensorboard/default/version_10/events.out.tfevents.1620841075.GOOB-3000.28507.0
img_output/tensorboard/default/version_10/hparams.yaml
img_output/tensorboard/default/version_10/checkpoints/epoch=0-step=390.ckpt
img_output/tensorboard/default/version_11/events.out.tfevents.1620845400.GOOB-3000.10912.0
img_output/tensorboard/default/version_11/hparams.yaml
img_output/tensorboard/default/version_11/checkpoints/epoch=0-step=390.ckpt
img_output/tensorboard/default/version_12/events.out.tfevents.1620845807.GOOB-3000.18471.0
img_output/tensorboard/default/version_12/hparams.yaml
img_output/tensorboard/default/version_13/events.out.tfevents.1620846338.GOOB-3000.19956.0
img_output/tensorboard/default/version_13/hparams.yaml
img_output/tensorboard/default/version_13/checkpoints/epoch=2-step=1172.ckpt
img_output/tensorboard/default/version_14/events.out.tfevents.1620847926.GOOB-3000.9728.0
img_output/tensorboard/default/version_14/hparams.yaml
img_output/tensorboard/default/version_15/events.out.tfevents.1620848148.GOOB-3000.3798.0
img_output/tensorboard/default/version_15/hparams.yaml
img_output/tensorboard/default/version_16/events.out.tfevents.1620848316.GOOB-3000.5250.0
img_output/tensorboard/default/version_16/hparams.yaml
img_output/tensorboard/default/version_17/events.out.tfevents.1620848455.GOOB-3000.6721.0
img_output/tensorboard/default/version_17/hparams.yaml
img_output/tensorboard/default/version_17/checkpoints/epoch=2-step=1172.ckpt
img_output/tensorboard/default/version_18/events.out.tfevents.1620850079.GOOB-3000.26614.0
img_output/tensorboard/default/version_18/hparams.yaml
img_output/tensorboard/default/version_18/checkpoints/epoch=0-step=390.ckpt
img_output/tensorboard/default/version_19/events.out.tfevents.1620850384.GOOB-3000.32694.0
img_output/tensorboard/default/version_19/hparams.yaml
img_output/tensorboard/default/version_19/checkpoints/epoch=0-step=390.ckpt
img_output/tensorboard/default/version_20/events.out.tfevents.1620852030.GOOB-3000.9054.0
img_output/tensorboard/default/version_20/hparams.yaml
img_output/tensorboard/default/version_21/events.out.tfevents.1620852134.GOOB-3000.9761.0
img_output/tensorboard/default/version_21/hparams.yaml
img_output/tensorboard/default/version_22/events.out.tfevents.1620852283.GOOB-3000.10463.0
img_output/tensorboard/default/version_22/hparams.yaml
img_output/tensorboard/default/version_22/checkpoints/epoch=2-step=1172.ckpt
img_output/tensorboard/default/version_23/events.out.tfevents.1620853627.GOOB-3000.22100.0
img_output/tensorboard/default/version_23/hparams.yaml
img_output/tensorboard/default/version_23/checkpoints/epoch=4-step=1954.ckpt
img_output/tensorboard/default/version_24/events.out.tfevents.1620854210.GOOB-3000.3176.0
img_output/tensorboard/default/version_24/hparams.yaml
img_output/tensorboard/default/version_24/checkpoints/epoch=4-step=1954.ckpt
img_output/tensorboard/default/version_25/events.out.tfevents.1620854949.GOOB-3000.16799.0
img_output/tensorboard/default/version_25/hparams.yaml
img_output/tensorboard/default/version_26/events.out.tfevents.1620855038.GOOB-3000.18137.0
img_output/tensorboard/default/version_26/hparams.yaml
img_output/tensorboard/default/version_26/checkpoints/epoch=5-step=2345.ckpt
img_output/tensorboard/default/version_27/events.out.tfevents.1620855559.GOOB-3000.25807.0
img_output/tensorboard/default/version_27/hparams.yaml
img_output/tensorboard/default/version_27/checkpoints/epoch=6-step=2736.ckpt
img_output/tensorboard/default/version_28/events.out.tfevents.1620856345.GOOB-3000.14616.0
img_output/tensorboard/default/version_28/hparams.yaml
img_output/tensorboard/default/version_29/events.out.tfevents.1620856481.GOOB-3000.840.0
img_output/tensorboard/default/version_29/hparams.yaml
img_output/tensorboard/default/version_9/events.out.tfevents.1620841064.GOOB-3000.27651.0
img_output/tensorboard/default/version_9/hparams.yaml
img_output/tensorboard/default/version_9/checkpoints/epoch=0-step=390.ckpt
img_output/tensorboard/default/version_30/events.out.tfevents.1620856974.GOOB-3000.20784.0
img_output/tensorboard/default/version_30/hparams.yaml
img_output/tensorboard/default/version_31/events.out.tfevents.1620857013.GOOB-3000.9448.0
img_output/tensorboard/default/version_31/hparams.yaml
img_output/tensorboard/default/version_31/checkpoints/epoch=6-step=2736.ckpt
__pycache__/display.cpython-37.pyc
__pycache__/Lit_Ab_VAE.cpython-37.pyc
.vscode/settings.json
